<!-- eslint-disable -->
<template>
  <section id="categories-list">
    <a :href="$router.resolve({name: 'OneCategory', params: {id: category.id}}).href">
      {{ category.title }}
    </a>
  </section>
</template>

<script>
/* eslint-disable */

// @ is an alias to /src
export default {
  props: {
    category: Object
  },
};
</script>

<style lang="scss">
#categories-list {
  ul {
    list-style: none;
  }
}
</style>
