<!-- eslint-disable -->
<template>
  <section id="book" class="row">
    <ul class="col-md-6">
      <li class="book-image text-center">
          <img :src="book.image" :alt="book.title" />
      </li>
      <li class="book-author pt-4 text-center">{{ book.author.fullname }}</li>
      <li class="book-categories text-center" v-for="bookCat in book.categories" :key="bookCat.id">
        <small>{{ bookCat.title }}</small>
      </li>
    </ul>
    <ul class="col-md-6">
      <li class="book-excerpt text-left">
          {{ book.excerpt }}
      </li>
    </ul>
  </section>
</template>

<script>
// @ is an alias to /src
export default {
  props: {
    book: Object,
  },
};
</script>

<style lang="scss">
#book {
    ul {
    list-style: none;

    li {
      img {
        max-width: 200px;
        // max-height: 310px;
        transition-duration: 1.2s;
        // border: 1px solid #9e9e9ebe;
      }

      img:hover {
        transform: scale(1.1);
        box-shadow: 1px 1px 20px #636363ea;
      }
    }
  }
}
</style>
