<!-- eslint-disable -->

<template>
  <main id="one-book-page" class="row p-0 m-0">
    <section class="container col-md-8">
      <h1 class="text-center pt-4 pb-5">{{ book.title }}</h1>

      <book-vue :book="book" />
    </section>
    <side-bar-vue class="col-md-3" />
  </main>
</template>

<script>
import BookService from '../../services/BookService';
import BookVue from '../../components/books/Book.vue';
import SideBarVue from '../../components/SideBar.vue';

export default {
  components: {
    BookVue,
    SideBarVue,
  },
  data() {
    return {
      book: [],
    };
  },
  mounted() {
    const service = new BookService();
    service
      .findById(this.$route.params.id)
      .then((data) => {
        this.book = data;
      })
      .catch(() => this.$router.push('/'));
  },
};
</script>

<style lang="scss">
#one-book-page {
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
  }
}
</style>
